* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

/* -------------------Nav-------------------- */
.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
}
.mainNav {
	display: flex;
	flex-direction: row;
	width: 50%;
}
.logo,
.main {
	width: 50%;
	margin: 20px 50px;
	text-transform: capitalize;
}
.main {
	width: 50%;
}
.logo {
	width: 50%;
}
.logo a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

.mainNav li {
	list-style: none;
	margin-right: 50px;
}
.mainNav a {
	text-decoration: none;
	color: black;
	font-weight: 500;
}
/* -------------------Home-------------------- */

.homeContainer {
	display: flex;
	flex-direction: row;
	position: relative;
	height: calc(100vh - 10vh);
}

.ecllipse img {
	width: 100%;
}

.homeBusinessMeeting {
	margin-right: 50px;
}

.homeBusinessMeeting img {
	width: 100%;
}

.homeInfo {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 190px;
	width: 30%;
	margin-left: 50px;
}
.homeInfo h1,
p,
div {
	margin-bottom: 20px;
}
.homeInfo h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 50.16px;
}

.homeInfo p {
	font-size: 20px;
	line-height: 27.67px;
}

.btnContainer {
	display: flex;
	gap: 20px;
	position: relative;
}

.btnContainer a {
	text-decoration: none;
	color: white;
	padding: 15px 40px;
	background: #01b88e;
	border-radius: 50px;
	text-transform: capitalize;
	transition: all 0.35s ease-in-out;
	border: 5px solid transparent;
	cursor: pointer;
}

.btnContainer a:hover {
	background: #00a17c;
}

/* ---------------------projects----------- */
.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
.projectsDescribe {
	margin-bottom: 60px;
}
.projectsDescribe h1,
p {
	text-align: center;
}
.projectsDescribe p {
	font-size: 18px;
	line-height: 27px;
}
.projectsDescribe h1 {
	margin-bottom: 15px;
}
.projectsDescribe h1 {
	font-size: 40px;
}

.projectInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.projectInfo img {
	width: 40%;
}
.projectInfo .info {
	text-align: left;
}

.projectInfo h3 {
	color: #01b88e;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.projectInfo h1 {
	margin-bottom: 5px;
	text-transform: initial;
	font-weight: 550;
}
.projectInfo p {
	font-size: 18px;
	text-align: left;
	line-height: 27px;
}
.info {
	/* background: red; */
}
